@import url('https://fonts.googleapis.com/css?family=Cinzel:400');

.app {
    font-family: 'Cinzel', serif;
    background: url('/images/background1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
  }

  .main-logo {
    display: flex;
    flex-direction: column;
    padding: 25px;
  }

  /* .header {

  } */

  .logo-image {
    width: 100px;
    height: 100px;  
    animation: App-logo-spin infinite 20s linear;
    vertical-align: top;
    display: inline-block;
    text-align: center;
  }

  @keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
  
  .title {
    font-size: 20px;
    color: gold;
    display: block;
  }
  
  .nav-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -100px;
    transition: 0.7s;
  }

  .button-box {
      display: flex;
      justify-content: center;
      align-items: center;
  }
  
  .center-content {
    color: gold;
  }

  .hvr-grow {
    margin-right: 50px;
    background-color: transparent;
    background-repeat: no-repeat;
    cursor: pointer;
    color: gold;
    border: none;
    font-family: 'Cinzel', serif;
    font-size: 16px;
    /* hvr-grow */
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    transform: scale(1.1);
}

.main-content {
  color: white;
}